body {
  /* background: #262626; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  background: #262626;
}
.swiper-slide .imgBx
{
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.swiper-slide .imgBx img
{
  width: 100%;
  /* border-radius: 50%; */
}
.swiper-slide .details
{
  box-sizing: border-box;
  /* padding: 20px; */
}
.swiper-slide .details h3
{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.swiper-slide .details h3 span
{
  font-size: 15px;
  color: #f44336;
}
